.Form {
    display: flex;
    flex-direction: column;
    width: 30vw;

    &__group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__button {
        width: 50%;
    }
}